:root{
    --color-212529: #212529;
    --color-ffd333: #ffd333;
    --color-47ad24: #47ad24;
    --color-e52e2e: #e52e2e;
    --color-828599: #828599;
    --color-3d464d: #ed464d;
    --color-c3d4da: #ced4da;
}
.green{
    color: var(--color-47ad24);
    font-size: 14px;
    font-family: Roboto !important;
}
.red{
    color:var(--color-e52e2e);
    font-size: 14px;
    font-family: Roboto !important;
}
.quill{
    background-color: white;
}
.form-control{
    box-shadow: none;
    border-radius : var(--color-212529);
}
.title {
    font-size: 20px;
    font-family: Roboto !important;
    color: var(--color-212529);
}

.sub-title{
    font-size: 18px;
    font-family: Roboto !important;
    columns: var(--color-212529);
}
.desc{
    font-size: 14px;
    font-family: Roboto !important;
    color: var(--color-828599);
}